# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar

# Java-specific
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings/

# Windows
*.bat
*.cmd

# macOS
*.DS_Store
._*

# Linux
*.swp
*.swo